body {
    font-family: 'Indie Flower', cursive;
    background-color: #f4f6f8;
    text-align: center;
    background-image: url('Planify.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin: 0px auto;
    width: 400px;
    border-radius: 80px;
    box-shadow: 0px 0px 10px gray;
}
.container3 {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin: 0px auto;
    width: 400px;
    border-radius: 80px;
    box-shadow: 0px 0px 10px gray;
}

.add {
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #e305a8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.view {
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.edit {
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #e305a8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.mark {
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    width: 20;
    height: 10;
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.exit {
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.start1{
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #00ff0d;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

input, select {
    font-family: 'Indie Flower', cursive;
    padding: 10px;
    margin: 10px;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    font-family: 'Indie Flower', cursive;
    padding: 10px;
    border-bottom: 1px solid gray;
}

a {
    text-decoration: none;
}
.btn2 {
    background-color: red;
}
h2 {
    font-family: 'Indie Flower', cursive;
}
h1 {
    font-size: 100px;
}
h3 {
    font-size: 40px;
}
.mard {
    bottom:10px;
}
.menu {
display: flex;           
flex-direction: column;  
gap: -10px;               
align-items: center;     
}